@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
    @model buoi2_TH.Models.Category
<h2>Category Details</h2>

<div>
    <h4>Name: @Model.Id</h4>
    <h4>Price: @Model.Name</h4>
</div>

<a asp-action="Index">Back to List</a>

